<section id="sobre-nosotros">
    <h2>Sobre </h2>
    <div class="menu-interno"><a href="#quienessomos"> Quem somos </a>/<a href="#independencia"> Independência política </a>/<a href="#areas"> Nossas áreas</a></div>
    <p> A missão da Fundação Cidadania Inteligente é fortalecer a democracia e reduzir a desigualdade social na América Latina, promoviendo a transparência e  participação cidadã através do uso inovador de tecnologoias de informação.</p>
    <p>Trabalhamos com a visão de transferir podesde desde os poucos para todas as pessoas, toda vez que o poder político e econômico se concentre de forma de maneira artificial. Para isso, usamos a transparência, as tecnologias da informação e a participaço coletiva como ferramentas de mudança.</p>
    <div id="quienessomos"></div>
    <h3>Quem somos</h3>
    <p class="h4 destacado">Somos uma organização laica, defensora da diversidade política, cultural, social, étnica, racial, religiosa, de gênero e sexual. Buscamos alcançar uma sociedade justa e inclusiva, na qual todas as cidadãs e cidadãos tenham os mesmos direitos e oportunidades. </p>
    <div class="row">
        <div class="col-md-6"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-equipo">A equipe</button></div>
        <div class="col-md-6"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-directorio">O conselho diretor</button></div>
        <!--<div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-hanparticipado">Han participado</button></div>-->
    </div>
    <div class="modal fade modal-equipo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">A equipe</h4>
                </div>
                <div class="modal-body">
                    {% include staff.html %}
                    <p><a href="//ciudadanointeligente.org/#sobre-nosotros">Conoce al resto del equipo</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-directorio" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">El Directorio</h4>
                </div>
                <div class="modal-body">
                    {% include staff-board.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="modal fade modal-hanparticipado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Han Participado</h4>
                </div>
                <div class="modal-body">
                    {% include have-participated.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    -->
    <div id="independencia"></div>
    <h3>Independência política</h3>
    <p>Os membros da Fundação Cidadania Inteligente não somos apolíticos, ao contrário: acreditamos na boa política como uma ferramenta fundamental de transformação social, e, assim sendo, nos propomos a geras os incentivos adequados para que a poltica funcione bem, buscando que aqueles que têm cargos de representação popular sejam pautados pelos cidadãos e cidadãs e não por outros interesses particulares.</p>
    <p>Em toda a Fundação Cidadania Inteligente, há membros de diversas tendências políticas. No entanto, como organização, não nos filiamos a nenhum partido político ou movimento social específico. Para assegurar nossa total independência, a Fundação Cidadania Inteligente não recebe financiamento de governos, partidos ou qualquer associação que tenha finalidade política. Ainda assim, por vía de um processo rigoroso, nos asseguramos de que todas as nossas pesquisas e informes se sustentem em metodologias sólidas e transparentes, abertas ao escrutínio de quem nos queira fiscalizar. A lealdade política da Fundação Cidadania Inteligente está posta com cidadãos e cidadãs, e com o cuidado e o aprofundamento da democracia como sistema de governo.</p>
    <div id="areas">
        <h3>Nossas áreas</h3>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Lab</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-lab.svg"></div>
            <div class="col-md-10">Desenvolvemos tecnologia web para transparentar, fiscalizar e permitir que cidadãos e cidadãs participem das decisões que nos afetam. No núcleo digital, desenvolvemos tecnologias de e para a sociedade Inovamos no desenvolvimento de aplicativos web open source, destinados a promover transparência e participação cívica na América Latina. <a href="//comunidadi.tumblr.com/tagged/lab" target="_blank">Ver mais</a></div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Incidência</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-incidencia.svg"></div>
            <div class="col-md-10">Trabalhamos para promover e incidir nas políticas de transparência; fortalecer e ampliar o dereito ao acesso à informação pública; fomentar e aprofundar a participação cidadã; e incrementar uma maior e melhor prestação de contas dos governos latinoamericanos.<a href="//comunidadi.tumblr.com/tagged/incidencia" target="_blank">Ver mais</a></div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Comunidade e redes</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-redes.svg"></div>
            <div class="col-md-10">Entendemos que somos parte de um tecido social, e por aí conectamos cidadãos, cidadãs, ONGs e hackers para buscar soluções tecnológicas a problemas públicos. Nossa forma de trabalho é coletiva. A Fundação Cidadania Inteligente promove o desenvolvimento de comunidades e redes entre a sociedade civil, pessoas voluntárias, hackers cívicos, setor público e toda organização que compartilhe a missão de aprofundar a democracia com transparência, participaço e novas tecnologias.<a href="//comunidadi.tumblr.com/tagged/comunidad" target="_blank">Ver mais</a></div>
        </div>
    </div>
</section>
