<header id="header" class="site-header">
    {% include nav.html%}
    <div id="bgvid" class="video-wrapper">
        <section id="inicio">
            <div class="container">
                <h1>Usamos a tecnologia para tornar a democracia mais transparente e participativa; trabalhamos para compartilhar o poder de poucos para muitos.</h1>
                <div class="row pilares">
                    <div class="col-md-4">
                        <img src="{{ site.baseurl }}/assets/img/1-transparencia.svg">
                        <h4>Promover a <strong>Transparência</strong> para propiciar o estabelecimento de uma cultura de acesso à informação pública e de reutilização dos dados abertos.</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.baseurl }}/assets/img/2-rendicion.svg">
                        <h4>Incentivar a <strong>Prestação de Contas</strong>, desenvolvendo mecanismos que privilegiem o interesse coletivo sobre os interesses individuais.</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.baseurl }}/assets/img/3-accioncolectiva.svg">
                        <h4>Fortalecer a <strong>Participação Cidadã</strong> efetiva e fomentar a ação coletiva, consolidando asim democracias mais representativas e deliberativas.</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- AUTOSCROLL -->
    <script type="text/javascript">
        $(document).ready(function(){
        $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
        var target = this.hash,
        $target = $(target);
        $('html, body').stop().animate({
        'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
        window.location.hash = target;
        });
        });
        });
    </script>
    <!-- SCROLL TO TOP -->
    <script>
        jQuery(document).ready(function() {
        var offset = 200;
        var duration = 500;
        jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
        jQuery('.scroll-to-top').fadeIn(duration);
        } else {
        jQuery('.scroll-to-top').fadeOut(duration);
        }
        });

        jQuery('.scroll-to-top').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        return false;
        })
        });
    </script>
</header>
